{
    "openapi": "3.0.0",
    "info": {
        "title": "Negotium Solutions Swagger API Documentation",
        "description": "This is a Negotium swagger API documentation. You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net,#swagger](http://swagger.io/irc/).For this sample, you can use the api key `special-key` to test the authorization filters",
        "contact": {
            "name": "Admin",
            "email": "admin@negotium-solutions.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.negotium-solutions.com/api",
            "description": "This is the Negotium Solutions Swagger API Server"
        }
    ],
    "paths": {
        "/{tenant}/activity/{schema_id}/{id}": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get a activity",
                "description": "Authenticate using a bearer token",
                "operationId": "getActivity",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Activity Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/activity/{schema_id}": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activities",
                "description": "Authenticate using a bearer token",
                "operationId": "getActivities",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/activity/create/{step}": {
            "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Create a new activity",
                "description": "Authenticate using a bearer token",
                "operationId": "createActivity",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "process_step_id": 2,
                                    "name": "activity",
                                    "columns": [
                                        {
                                            "name": "name",
                                            "type": "string",
                                            "attributes": {
                                                "required": 1,
                                                "indent": 0,
                                                "is_id": 0,
                                                "is_passport": 0
                                            }
                                        },
                                        {
                                            "name": "email",
                                            "type": "string",
                                            "attributes": {
                                                "required": 1,
                                                "indent": 0,
                                                "is_id": 0,
                                                "is_passport": 0
                                            }
                                        },
                                        {
                                            "name": "age",
                                            "type": "integer",
                                            "attributes": {
                                                "required": 1,
                                                "indent": 0,
                                                "is_id": 0,
                                                "is_passport": 0
                                            }
                                        },
                                        {
                                            "name": "biography",
                                            "type": "text",
                                            "attributes": {
                                                "required": 1,
                                                "indent": 0,
                                                "is_id": 0,
                                                "is_passport": 0
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "example": {
                                                "code": 201,
                                                "message": "Activity successfully created.",
                                                "data": {
                                                    "id": 7
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/activity/update/{id}": {
            "put": {
                "tags": [
                    "Activity"
                ],
                "summary": "Update a activity",
                "description": "Authenticate using a bearer token",
                "operationId": "updateActivity",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Activity Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/activity/delete/{id}": {
            "delete": {
                "tags": [
                    "Activity"
                ],
                "summary": "Delete a activity by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteActivityById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/activity-group/{id}": {
            "get": {
                "tags": [
                    "ActivityGroup"
                ],
                "summary": "Get a activity group",
                "description": "Authenticate using a bearer token",
                "operationId": "getActivityGroup",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Activity Group Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/activity-groups": {
            "get": {
                "tags": [
                    "ActivityGroup"
                ],
                "summary": "Get Activity Groups",
                "description": "Authenticate using a bearer token",
                "operationId": "getActivityGroups",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/document/{id}": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Get a document",
                "description": "Authenticate using a bearer token",
                "operationId": "getDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Document Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/document": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Get documents",
                "description": "Authenticate using a bearer token",
                "operationId": "getDocuments",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/document/create": {
            "post": {
                "tags": [
                    "Document"
                ],
                "summary": "Create a new document",
                "description": "Authenticate using a bearer token",
                "operationId": "createDocument",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/document/update/{id}": {
            "put": {
                "tags": [
                    "Document"
                ],
                "summary": "Update a Document",
                "description": "Authenticate using a bearer token",
                "operationId": "updateDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Document Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/document/delete/{id}": {
            "delete": {
                "tags": [
                    "Document"
                ],
                "summary": "Delete a Document by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteDocumentById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/form/{id}": {
            "get": {
                "tags": [
                    "Form"
                ],
                "summary": "Get a form",
                "description": "Authenticate using a bearer token",
                "operationId": "getForm",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Form Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/form": {
            "get": {
                "tags": [
                    "Form"
                ],
                "summary": "Get forms",
                "description": "Authenticate using a bearer token",
                "operationId": "getForms",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/form/create": {
            "post": {
                "tags": [
                    "Form"
                ],
                "summary": "Create a new form",
                "description": "Authenticate using a bearer token",
                "operationId": "createForm",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/form/update/{id}": {
            "put": {
                "tags": [
                    "Form"
                ],
                "summary": "Update a Form",
                "description": "Authenticate using a bearer token",
                "operationId": "updateForm",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Form Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/form/delete/{id}": {
            "delete": {
                "tags": [
                    "Form"
                ],
                "summary": "Delete a Form by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteFormById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/note/{id}": {
            "get": {
                "tags": [
                    "Note"
                ],
                "summary": "Get a Note",
                "description": "Authenticate using a bearer token",
                "operationId": "getNote",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Note Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/Note": {
            "get": {
                "tags": [
                    "Note"
                ],
                "summary": "Get notes",
                "description": "Authenticate using a bearer token",
                "operationId": "getNotes",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/note/create": {
            "post": {
                "tags": [
                    "Note"
                ],
                "summary": "Create a new note",
                "description": "Authenticate using a bearer token",
                "operationId": "createNote",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/note/update/{id}": {
            "put": {
                "tags": [
                    "Note"
                ],
                "summary": "Update a Note",
                "description": "Authenticate using a bearer token",
                "operationId": "updateNote",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Note Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/note/delete/{id}": {
            "delete": {
                "tags": [
                    "Note"
                ],
                "summary": "Delete a Note by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteNoteById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-category/{id}": {
            "get": {
                "tags": [
                    "Process Category"
                ],
                "summary": "Get a Process Category",
                "description": "Authenticate using a bearer token",
                "operationId": "getProcessCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Process Category Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-category": {
            "get": {
                "tags": [
                    "Process Category"
                ],
                "summary": "Get Process Categories",
                "description": "Authenticate using a bearer token",
                "operationId": "getProcessCategories",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-category/create": {
            "post": {
                "tags": [
                    "Process Category"
                ],
                "summary": "Create a new process category",
                "description": "Authenticate using a bearer token",
                "operationId": "createProcessCategory",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-category/update/{id}": {
            "put": {
                "tags": [
                    "Process Category"
                ],
                "summary": "Update a ProcessCategory",
                "description": "Authenticate using a bearer token",
                "operationId": "updateProcessCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Process Category Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-category/delete/{id}": {
            "delete": {
                "tags": [
                    "Process Category"
                ],
                "summary": "Delete a Process Category by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteProcessCategoryById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process/{id}": {
            "get": {
                "tags": [
                    "Process"
                ],
                "summary": "Get a Process",
                "description": "Authenticate using a bearer token",
                "operationId": "getProcess",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Process Category Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process": {
            "get": {
                "tags": [
                    "Process"
                ],
                "summary": "Get Processes",
                "description": "Authenticate using a bearer token",
                "operationId": "getProcesses",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process/create": {
            "post": {
                "tags": [
                    "Process"
                ],
                "summary": "Create a new process",
                "description": "Authenticate using a bearer token",
                "operationId": "createProcess",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process/update/{id}": {
            "put": {
                "tags": [
                    "Process"
                ],
                "summary": "Update a Process",
                "description": "Authenticate using a bearer token",
                "operationId": "updateProcess",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Process Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process/delete/{id}": {
            "delete": {
                "tags": [
                    "Process"
                ],
                "summary": "Delete a Process by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteProcessById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/profile/{id}": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Get a Profile",
                "description": "Authenticate using a bearer token",
                "operationId": "getProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Profile Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Get profiles",
                "description": "Authenticate using a bearer token",
                "operationId": "getProfiles",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/profile/create": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Create a new profile",
                "description": "Authenticate using a bearer token",
                "operationId": "createProfile",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/profile/update/{id}": {
            "put": {
                "tags": [
                    "Profile"
                ],
                "summary": "Update a Profile",
                "description": "Authenticate using a bearer token",
                "operationId": "updateProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Profile Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/profile/delete/{id}": {
            "delete": {
                "tags": [
                    "Profile"
                ],
                "summary": "Delete a Profile by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteProfileById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/profile-type/{id}": {
            "get": {
                "tags": [
                    "ProfileType"
                ],
                "summary": "Get a Profile Type",
                "description": "Authenticate using a bearer token",
                "operationId": "getProfileType",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Profile Type Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/profile-type": {
            "get": {
                "tags": [
                    "ProfileType"
                ],
                "summary": "Get profile types",
                "description": "Authenticate using a bearer token",
                "operationId": "getProfileTypes",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/profile-type/create": {
            "post": {
                "tags": [
                    "ProfileType"
                ],
                "summary": "Create a new profile type",
                "description": "Authenticate using a bearer token",
                "operationId": "createProfileType",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/profile-type/update/{id}": {
            "put": {
                "tags": [
                    "ProfileType"
                ],
                "summary": "Update a ProfileType",
                "description": "Authenticate using a bearer token",
                "operationId": "updateProfileType",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ProfileType Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/profile-type/delete/{id}": {
            "delete": {
                "tags": [
                    "ProfileType"
                ],
                "summary": "Delete a Profile Type by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteProfileTypeById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/step/{id}": {
            "get": {
                "tags": [
                    "Step"
                ],
                "summary": "Get a Step",
                "description": "Authenticate using a bearer token",
                "operationId": "getStep",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Step Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/step": {
            "get": {
                "tags": [
                    "Step"
                ],
                "summary": "Get Steps",
                "description": "Authenticate using a bearer token",
                "operationId": "getSteps",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/step/create": {
            "post": {
                "tags": [
                    "Step"
                ],
                "summary": "Create a new step",
                "description": "Authenticate using a bearer token",
                "operationId": "createStep",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/step/update/{id}": {
            "put": {
                "tags": [
                    "Step"
                ],
                "summary": "Update aStep",
                "description": "Authenticate using a bearer token",
                "operationId": "updateStep",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Step Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/step/delete/{id}": {
            "delete": {
                "tags": [
                    "Step"
                ],
                "summary": "Delete a Step by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteStepById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/user/{id}": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get a user",
                "description": "Authenticate using a bearer token",
                "operationId": "getUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get users",
                "description": "Authenticate using a bearer token",
                "operationId": "getUsers",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/user/create": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Create a new user",
                "description": "Authenticate using a bearer token",
                "operationId": "createUser",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/user/update/{id}": {
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Update a user",
                "description": "Authenticate using a bearer token",
                "operationId": "updateUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/user/delete/{id}": {
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Delete a user by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteUserById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/api/v0.0.2/notifications/{id}": {
            "delete": {
                "tags": [
                    "Example"
                ],
                "summary": "Delete notification by ID.",
                "operationId": "deleteNotificationById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        }
    },
    "components": {
        "responses": {
            "204": {
                "description": "No content"
            },
            "404": {
                "description": "Not found"
            }
        },
        "parameters": {
            "profile_id": {
                "name": "profile_id",
                "in": "path",
                "description": "Delete a Profile by ID.",
                "schema": {
                    "type": "string"
                }
            },
            "process_id": {
                "name": "process_id",
                "in": "path",
                "schema": {
                    "type": "string"
                }
            }
        }
    },
    "tags": [
        {
            "name": "User",
            "description": "User related operations"
        },
        {
            "name": "Activity",
            "description": "Activity"
        },
        {
            "name": "ActivityGroup",
            "description": "ActivityGroup"
        },
        {
            "name": "Document",
            "description": "Document"
        },
        {
            "name": "Form",
            "description": "Form"
        },
        {
            "name": "Note",
            "description": "Note"
        },
        {
            "name": "Process Category",
            "description": "Process Category"
        },
        {
            "name": "Process",
            "description": "Process"
        },
        {
            "name": "Profile",
            "description": "Profile"
        },
        {
            "name": "ProfileType",
            "description": "ProfileType"
        },
        {
            "name": "Step",
            "description": "Step"
        },
        {
            "name": "Example",
            "description": "Example"
        }
    ]
}