{
    "openapi": "3.0.0",
    "info": {
        "title": "Negotium Solutions Swagger API Documentation",
        "description": "This is a Negotium swagger API documentation. You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net,#swagger](http://swagger.io/irc/).For this sample, you can use the api key `special-key` to test the authorization filters",
        "contact": {
            "name": "Admin",
            "email": "admin@negotium-solutions.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.negotium-solutions.com/api",
            "description": "This is the Negotium Solutions Swagger API Server"
        }
    ],
    "paths": {
        "/{tenant}/activity/{id}": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get a activity",
                "description": "Authenticate using a bearer token",
                "operationId": "getActivity",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Activity Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/activity": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activities",
                "description": "Authenticate using a bearer token",
                "operationId": "getActivities",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/activity/create": {
            "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Create a new activity",
                "description": "Authenticate using a bearer token",
                "operationId": "createActivity",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "process_step_id": 2,
                                    "name": "activity",
                                    "columns": [
                                        {
                                            "name": "name",
                                            "type": "string",
                                            "attributes": {
                                                "required": 1,
                                                "indent": 0,
                                                "is_id": 0,
                                                "is_passport": 0
                                            }
                                        },
                                        {
                                            "name": "email",
                                            "type": "string",
                                            "attributes": {
                                                "required": 1,
                                                "indent": 0,
                                                "is_id": 0,
                                                "is_passport": 0
                                            }
                                        },
                                        {
                                            "name": "age",
                                            "type": "integer",
                                            "attributes": {
                                                "required": 1,
                                                "indent": 0,
                                                "is_id": 0,
                                                "is_passport": 0
                                            }
                                        },
                                        {
                                            "name": "biography",
                                            "type": "text",
                                            "attributes": {
                                                "required": 1,
                                                "indent": 0,
                                                "is_id": 0,
                                                "is_passport": 0
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "example": {
                                                "code": 201,
                                                "message": "Activity successfully created.",
                                                "data": {
                                                    "id": 7
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/activity/update/{id}": {
            "put": {
                "tags": [
                    "Activity"
                ],
                "summary": "Update a activity",
                "description": "Authenticate using a bearer token",
                "operationId": "updateActivity",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Activity Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/activity/delete/{id}": {
            "delete": {
                "tags": [
                    "Activity"
                ],
                "summary": "Delete a activity by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteActivityById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/client/{id}": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "Get a Client",
                "description": "Authenticate using a bearer token",
                "operationId": "getClient",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Client Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/client": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "Get clients",
                "description": "Authenticate using a bearer token",
                "operationId": "getClients",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/client/create": {
            "post": {
                "tags": [
                    "Client"
                ],
                "summary": "Create a new client",
                "description": "Authenticate using a bearer token",
                "operationId": "createClient",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/client/update/{id}": {
            "put": {
                "tags": [
                    "Client"
                ],
                "summary": "Update a Client",
                "description": "Authenticate using a bearer token",
                "operationId": "updateClient",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Client Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/client/delete/{id}": {
            "delete": {
                "tags": [
                    "Client"
                ],
                "summary": "Delete a Client by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteClientById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/document/{id}": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Get a document",
                "description": "Authenticate using a bearer token",
                "operationId": "getDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Document Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/document": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Get documents",
                "description": "Authenticate using a bearer token",
                "operationId": "getDocuments",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/document/create": {
            "post": {
                "tags": [
                    "Document"
                ],
                "summary": "Create a new document",
                "description": "Authenticate using a bearer token",
                "operationId": "createDocument",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/document/update/{id}": {
            "put": {
                "tags": [
                    "Document"
                ],
                "summary": "Update a Document",
                "description": "Authenticate using a bearer token",
                "operationId": "updateDocument",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Document Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/document/delete/{id}": {
            "delete": {
                "tags": [
                    "Document"
                ],
                "summary": "Delete a Document by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteDocumentById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-category/{id}": {
            "get": {
                "tags": [
                    "Process Category"
                ],
                "summary": "Get a Process Category",
                "description": "Authenticate using a bearer token",
                "operationId": "getProcessCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Process Category Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-category": {
            "get": {
                "tags": [
                    "Process Category"
                ],
                "summary": "Get Process Categories",
                "description": "Authenticate using a bearer token",
                "operationId": "getProcessCategories",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-category/create": {
            "post": {
                "tags": [
                    "Process Category"
                ],
                "summary": "Create a new process category",
                "description": "Authenticate using a bearer token",
                "operationId": "createProcessCategory",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-category/update/{id}": {
            "put": {
                "tags": [
                    "Process Category"
                ],
                "summary": "Update a ProcessCategory",
                "description": "Authenticate using a bearer token",
                "operationId": "updateProcessCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Process Category Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-category/delete/{id}": {
            "delete": {
                "tags": [
                    "Process Category"
                ],
                "summary": "Delete a Process Category by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteProcessCategoryById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process/{id}": {
            "get": {
                "tags": [
                    "Process"
                ],
                "summary": "Get a Process",
                "description": "Authenticate using a bearer token",
                "operationId": "getProcess",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Process Category Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process": {
            "get": {
                "tags": [
                    "Process"
                ],
                "summary": "Get Processes",
                "description": "Authenticate using a bearer token",
                "operationId": "getProcesses",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process/create": {
            "post": {
                "tags": [
                    "Process"
                ],
                "summary": "Create a new process",
                "description": "Authenticate using a bearer token",
                "operationId": "createProcess",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process/update/{id}": {
            "put": {
                "tags": [
                    "Process"
                ],
                "summary": "Update a Process",
                "description": "Authenticate using a bearer token",
                "operationId": "updateProcess",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Process Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process/delete/{id}": {
            "delete": {
                "tags": [
                    "Process"
                ],
                "summary": "Delete a Process by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteProcessById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-step/{id}": {
            "get": {
                "tags": [
                    "Process Step"
                ],
                "summary": "Get a Process Step",
                "description": "Authenticate using a bearer token",
                "operationId": "getProcessStep",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Process Category Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-step": {
            "get": {
                "tags": [
                    "Process Step"
                ],
                "summary": "Get Process Steps",
                "description": "Authenticate using a bearer token",
                "operationId": "getProcessSteps",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-step/create": {
            "post": {
                "tags": [
                    "Process Step"
                ],
                "summary": "Create a new process step",
                "description": "Authenticate using a bearer token",
                "operationId": "createProcessStep",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-step/update/{id}": {
            "put": {
                "tags": [
                    "Process Step"
                ],
                "summary": "Update a ProcessStep",
                "description": "Authenticate using a bearer token",
                "operationId": "updateProcessStep",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Process Step Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/process-step/delete/{id}": {
            "delete": {
                "tags": [
                    "Process Step"
                ],
                "summary": "Delete a Process Step by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteProcessStepById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/user/{id}": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get a user",
                "description": "Authenticate using a bearer token",
                "operationId": "getUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User Id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get users",
                "description": "Authenticate using a bearer token",
                "operationId": "getUsers",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/user/create": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Create a new user",
                "description": "Authenticate using a bearer token",
                "operationId": "createUser",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/user/update/{id}": {
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Update a user",
                "description": "Authenticate using a bearer token",
                "operationId": "updateUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Input validation error"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{tenant}/user/delete/{id}": {
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Delete a user by ID.",
                "description": "Authenticate using a bearer token",
                "operationId": "deleteUserById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/api/v0.0.2/notifications/{id}": {
            "delete": {
                "tags": [
                    "Example"
                ],
                "summary": "Delete notification by ID.",
                "operationId": "deleteNotificationById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "User",
            "description": "User related operations"
        }
    ]
}